<div class="container">
    <h3>Porque trabalhar nos faz bem?</h3><br>
    <p> - Trabalhar é condição essencial, não somente pela manutenção financeira, mas pela dignificação da vida. Trabalhar
        se constitui numa parte importante da vida. E vai além do ganha-pão. Tem a ver com realização pessoal, com
        sentir-se útil e encontrar sentido para os dias. “A importância do trabalho na vida do ser humano vai muito além
        do fato de que, através dele, satisfazemos nossas necessidades básicas. O trabalho, por si só, é revelador da
        nossa humanidade, uma vez que possibilita ação transformadora sobre a natureza e si mesmo. Além disso, a nossa
        capacidade inventiva e criadora é exteriorizada através do ofício que realizamos”, afirma a psicóloga
        organizacional Vanessa Rissi.<br></p>

    <p> - De outro lado, o fato de não trabalhar pode ter consequências negativas, que afetam diretamente a personalidade.
        “Em razão da centralidade que o trabalho ocupa em nossas vidas, é que podemos compreender as consequências
        negativas do não-trabalho, da inatividade. Um sujeito sem trabalho é impedido de se realizar como homem e
        cidadão, o que afeta diretamente sua dignidade”, salienta Vanessa, que é mestre em Saúde Coletiva/Saúde do
        Trabalhador, especialista em Gestão de Recursos Humanos e professora da Imed.</p><br>

    <p> - Ter um ofício é primordial na vida do ser h   umano. Durante a própria evolução, cada indivíduo veio desempenhando
        um papel, o que não é diferente nos dias de hoje. “O trabalho é um meio inexorável da existência humana e
        constituinte da identidade do sujeito. Isto significa que cada um se torna o que é por meio do ofício que
        executa. Através do trabalho as pessoas podem imprimir sua marca, o seu registro. Isto tanto é verdadeiro que
        quando não conhecemos uma pessoa e, então, perguntamos ‘quem é fulano?’, a resposta sempre estará relacionada a
        função executada no mundo do trabalho: ‘ele é professor da escola x, ele é vendedor da empresa y, é médico’, e
        assim por diante”, argumenta a psicóloga.</p>

        <h6>Autor: Glenda Mendes , Font: https://www.onacional.com.br/</h6>
</div>